.header {
  background-color: rgb(241, 231, 231);
  display: flex;
  align-items: center;
}
.header_link {
  text-decoration: none;
}

.header_nav {
  display: flex;
  justify-content: space-around;
}
.header_link {
  color: black;
}

.header_option {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header_search {
  display: flex;
  flex: 1;
  vertical-align: middle;
}
.header_searchInput {
  height: 20px;
  padding: 13px;
  border: none;
  width: 100%;
  margin-right: 15px;
}
.header_searchIcon {
  height: 20px;
  padding: 13px;
  margin-left: 320px;
  width: 100%;
  align-items: flex-end;
}
